*{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:Roboto,sans-serif
}
.mp_right{
	padding-right:0
}
.mp_left{
	padding-left:0
}
.container{
	width:1170px;
	padding:0
}
header{
	padding:0
}
header .up{
	padding:16px 0;
	background-color:#7ac751
}
header .up .container{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	font-weight:400;
	font-size:16px;
	color:#fff
}
header .up_lang{
	display:inline-block;
	margin-right:40px
}
header .up_login{
	display:inline-block
}
header .up_login_link{
	position:relative;
	font-weight:inherit;
	font-size:inherit;
	color:inherit;
	text-decoration:none
}
header .up_login_link:hover{
	text-decoration:underline;
	color:inherit
}
header .up_login_link::before{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:-20px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	width:2px;
	height:19px;
	background-color:#fff
}
header .fur{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	margin-top:22px
}
header .fur_logo{
	display:inherit;
	max-width:147px
}
header .fur_logo_img{
	width:100%
}
header .fur_search form{
	margin-left:-35px;
	display:inherit
}
header .fur_search_input{
	width:527px;
	padding:15px 25px;
	border:3px solid #7ac751;
	border-radius:10px 0 0 10px;
	color:#747474;
	outline:0
}
header .fur_search_input::-webkit-input-placeholder{
	font-weight:400;
	font-size:14px;
	color:#747474
}
header .fur_search_input:-ms-input-placeholder{
	font-weight:400;
	font-size:14px;
	color:#747474
}
header .fur_search_input::-ms-input-placeholder{
	font-weight:400;
	font-size:14px;
	color:#747474
}
header .fur_search_input::placeholder{
	font-weight:400;
	font-size:14px;
	color:#747474
}
header .fur_search_btn{
	padding:15px;
	border-radius:0 10px 10px 0;
	border:3px solid #7ac751;
	background-color:#7ac751
}
header .fur_search_btn img{
	margin-bottom:3px
}
header .fur_categories{
	display:inherit
}
header .fur_account{
	position:relative;
	display:inherit
}
header .fur_account_img{
	margin-right:21px
}
header .fur_account .four{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	position:absolute;
	top:-2px;
	left:19px;
	width:15px;
	height:15px;
	background-color:#7ac751;
	font-size:10px;
	color:#fff;
	border-radius:100%
}
.promo{
	margin-top:30px
}
.promo_wrapp{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:start
}
.promo_wrapp aside{
	width:260px
}
.promo_aside{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	padding:25px 30px;
	background-color:#7ac751
}
.promo_aside_sandwich{
	display:inline-block;
	margin-right:20px
}
.promo_aside_sandwich .mb_sandwich{
	margin-bottom:5px;
	display:block
}
.promo_aside_sandwich_1{
	width:18px;
	height:2px;
	background-color:#fff
}
.promo_aside_sandwich_2{
	width:12px;
	height:2px;
	background-color:#fff
}
.promo_aside_sandwich_3{
	width:6px;
	height:2px;
	background-color:#fff
}
.promo_aside_title{
	display:inline-block;
	font-weight:500;
	font-size:16px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase
}
.promo_aside_menu{
	width:260px;
	list-style-type:none;
	list-style-position:inside;
	background-color:#f7f8fa;
	padding:0
}
.promo_aside_menu_item{
	width:100%;
	border-bottom:1px solid #e3e3e3
}
.promo_aside_menu_item:last-child{
	border:none
}
.promo_aside_menu_item_link{
	display:block;
	padding:11px 29px;
	text-decoration:none;
	font-weight:400;
	font-size:14px;
	line-height:17px;
	letter-spacing:.02em;
	color:#555;
	-webkit-transition:.4s all;
	transition:.4s all
}
.promo_aside_menu_item_link:hover{
	background-color:#7ac751;
	font-size:24px;
	font-weight:700;
	color:#fff
}
.promo_menu{
	display:inline-block;
	margin:0;
	margin-left:60px;
	padding:25px 0 24px 0;
	list-style-type:none
}
.promo_menu li{
	display: inline-block;
}
.promo_menu_item_link{
	display:inline-block;
	margin-right:40px;
	font-weight:400;
	font-size:14px;
	color:#555;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-transition:.3s all;
	transition:.3s all
}
.promo_menu_item_link:hover{
	color:#7ac751
}
.promo_baner{
	position:relative;
	width:909px;
	height:442px;
	background:url(assets/img/bg/baner_bg.png) center center/cover no-repeat
}
.promo_baner_serve{
	position:absolute;
	top:75px;
	left:47px;
	width:328px;
	height:257px
}
.promo_baner_serve_title{
	font-weight:400;
	font-size:22px;
	line-height:26px;
	letter-spacing:.05em;
	color:#7ac751;
	text-transform:uppercase
}
.promo_baner_serve_header{
	position:relative;
	margin-top:15px;
	margin-left:12px;
	font-weight:700;
	font-size:40px;
	line-height:47px;
	color:#2f2f2f;
	text-transform:capitalize;
	z-index:1
}
.promo_baner_serve_header::after{
	content:"";
	position:absolute;
	top:76px;
	right:4px;
	width:177px;
	height:29px;
	background:url(assets/img/under_header.png);
	z-index:-1
}
.promo_baner_serve_subtitle{
	margin-top:23px;
	font-weight:600;
	font-size:27px;
	line-height:26px;
	color:rgba(81,81,81,.71)
}
.promo_baner_serve_btn{
	margin-top:36px;
	padding:11px 20px;
	font-weight:700;
	font-size:16px;
	line-height:20px;
	color:#fff;
	background-color:#7ac751;
	text-transform:uppercase;
	border:none;
	outline:0;
	border-radius:5px
}
.promo_baner_img{
	position:absolute;
	top:37px;
	left:385px;
	max-width:379px
}
.promo_baner_discount{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	position:absolute;
	top:13px;
	left:119px;
	width:50px;
	height:50px;
	background-color:#7ac751;
	font-weight:700;
	font-size:16px;
	letter-spacing:.02em;
	color:#fff;
	border-radius:100%
}
.promo_baner_list{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	position:absolute;
	top:60px;
	right:40px;
	width:99px;
	height:335px
}
.promo_baner_list_item{
	width:inherit;
	height:95px;
	text-align:center;
	background-color:#fff
}
.promo_baner_list_item_img{
	width:inherit;
	margin-top:5px
}
.promo_baner_list_item_price{
	font-weight:500;
	font-size:12px;
	color:#7ac751
}
.promo_baner_list_item_descr{
	font-weight:700;
	font-size:10px;
	color:#555;
	text-transform:capitalize
}
.promo_baner_slide{
	position:absolute;
	bottom:20px;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%)
}
.promo_baner_slide_item{
	display:inline-block;
	width:12px;
	height:12px;
	margin-right:15px;
	background:rgba(80,190,21,.29);
	border-radius:100%;
	cursor:pointer
}
.promo_baner_slide_item_active{
	width:30px;
	height:12px;
	background-color:#7ac751;
	border-radius:77px
}
.feature{
	margin-top:65px
}
.feature_wrapp{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
.feature_item{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	width:224px
}
.feature_item_icon{
	margin-right:15px
}
.feature_item_descr_title{
	font-weight:700;
	font-size:20px;
	line-height:26px;
	color:#555
}
.feature_item_descr_text{
	font-weight:400;
	font-size:14px;
	line-height:26px;
	color:rgba(81,81,81,.71)
}
.offer{
	margin-top:70px
}
.offer_wrapp{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.offer_wrapp_big{
	margin-right:15px;
	padding-top:49px;
	padding-left:31px;
	width:699px;
	height:513px
}
.offer_wrapp_small{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:start;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column
}
.offer_wrapp_small_top{
	padding-top:49px;
	padding-left:31px;
	width:485px;
	height:247px;
	background:url(assets/img/bg/offer_small_top_bg.png) center center/cover no-repeat
}
.offer_wrapp_small_bottom{
	padding-top:49px;
	padding-left:31px;
	margin-top:17px;
	width:485px;
	height:247px;
	background:url(assets/img/bg/offer_small_bottom_bg.png) center center/cover no-repeat
}
.offer_title{
	font-weight:700;
	font-size:22px;
	line-height:26px;
	color:#555
}
.offer_subtitle{
	margin-top:10px;
	font-weight:600;
	font-size:20px;
	line-height:26px;
	color:#7ac751
}
.offer_readme{
	position:relative;
	display:inline-block;
	margin-top:13px;
	font-weight:400;
	font-size:16px;
	line-height:26px;
	color:#757575;
	text-decoration:none;
	-webkit-transition:.4s all;
	transition:.4s all
}
.offer_readme:hover{
	color:#7ac751
}
.offer_readme::after{
	content:"";
	display:block;
	position:absolute;
	top:10px;
	left:82px;
	width:11px;
	height:9px;
	background:url(assets/icons/readme.svg) center center/cover no-repeat
}
.trending{
	margin-top:120px
}
.trending_title{
	font-weight:700;
	font-size:36px;
	line-height:45px;
	color:#555;
	text-align:center;
	text-transform:uppercase
}
.trending .row{
	margin-top:73px
}
.trending_menu{
	margin-top:45px;
	text-align:center;
	list-style-type:none
}
.trending_menu_item{
	display:inline-block;
	max-width:270px;
	margin-right:70px;
	text-decoration:none
}
.trending_menu_item_link{
	font-weight:600;
	font-size:24px;
	line-height:30px;
	color:#c2c2c2;
	text-decoration:none;
	-webkit-transition:.4s all;
	transition:.4s all
}
.trending_menu_item_link:hover{
	color:#7ac751
}
.trending_item{
	width:269px;
	margin-bottom:45px
}
.trending_item_stuff{
	margin-top:15px;
	font-weight:400;
	font-size:14px;
	letter-spacing:.008em;
	text-transform:uppercase;
	color:rgba(117,117,117,.71)
}
.trending_item_name{
	margin-top:5px;
	font-weight:400;
	font-size:20px;
	letter-spacing:.005em;
	color:#555
}
.trending_item_bottom{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:start;
	-webkit-box-align:end;
	-ms-flex-align:end;
	align-items:end
}
.trending_item_bottom_price{
	margin-top:13px;
	font-weight:700;
	font-size:18px;
	letter-spacing:.005em;
	color:#7ac751;
	margin-right:100px
}
.trending_item_bottom_price span{
	font-weight:600;
	font-size:18px;
	letter-spacing:.005em;
	-webkit-text-decoration-line:line-through;
	text-decoration-line:line-through;
	color:#ccc
}
.trending_slider{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	width:60px;
	margin:0 auto
}
.trending_img{
	position:relative;
	width:100%;
	min-height:288px
}
.new::before{
	content:"New";
	display:block;
	width:45px;
	height:20px;
	font-weight:600;
	font-size:12px;
	letter-spacing:.008em;
	text-align:center;
	color:#fff;
	background-color:#00b7f1;
	border-radius:0 0 5px 0
}
.sale::before{
	content:"Sale";
	display:block;
	width:45px;
	height:20px;
	font-weight:600;
	font-size:12px;
	letter-spacing:.008em;
	text-align:center;
	color:#fff;
	background-color:#7ac751;
	border-radius:0 0 5px 0
}
.discount::before{
	content:"-30%";
	display:block;
	width:45px;
	height:20px;
	font-weight:600;
	font-size:12px;
	letter-spacing:.008em;
	text-align:center;
	color:#fff;
	border-radius:0 0 5px 0;
	background-color:#ff6868
}
.stuff_bg_flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	position:absolute;
	bottom:15px;
	right:7px
}
.stuff_bg_flex_item{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	margin-top:9px;
	width:39px;
	height:39px;
	background-color:#fff;
	border-radius:100%
}
.stuff_bg_flex_item:hover{
	background-color:#7ac751;
	cursor:pointer
}
.special_offer{
	margin-top:100px
}
.special_offer_title{
	font-weight:700;
	font-size:36px;
	line-height:45px;
	color:#555;
	text-align:center;
	text-transform:uppercase
}
.special_offer_wrapp{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin-top:60px
}
.special_offer_wrapp_item{
	display:inline-block;
	width:570px;
	height:249px
}
.special_offer_wrapp_item_block{
	width:245px;
	margin:28px 0 0 24px
}
.special_offer_wrapp_item_title{
	font-weight:600;
	font-size:20px;
	color:#555
}
.special_offer_wrapp_item_text{
	margin-top:10px;
	font-weight:400;
	font-size:12px;
	line-height:18px;
	color:#757575
}
.special_offer_wrapp_item_price{
	margin-top:13px;
	font-weight:700;
	font-size:18px;
	letter-spacing:.005em;
	color:#7ac751
}
.special_offer_wrapp_item_price span{
	font-weight:600;
	font-size:18px;
	letter-spacing:.005em;
	-webkit-text-decoration-line:line-through;
	text-decoration-line:line-through;
	color:#ccc
}
.special_offer_wrapp_item_flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	vertical-align:middle
}
.special_offer_wrapp_item_btn{
	margin-top:36px;
	padding:11px 20px;
	font-weight:700;
	font-size:16px;
	line-height:20px;
	color:#fff;
	background-color:#7ac751;
	text-transform:uppercase;
	border:none;
	outline:0;
	border-radius:5px;
	margin-top:17px
}
.special_offer_round{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin-top:25px
}
.special_offer_round_item{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	padding-right:4px;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	width:50px;
	height:50px;
	font-weight:500;
	font-size:14px;
	color:#fff;
	background-color:#7ac751;
	border-radius:100%
}
.special_offer_round_item span{
	margin-left:5px;
	font-weight:400;
	font-size:8px;
	letter-spacing:.005em;
	text-transform:uppercase;
	color:#fff
}
.products{
	margin-top:120px
}
.products_title{
	font-weight:700;
	font-size:36px;
	line-height:45px;
	color:#555;
	text-align:center;
	text-transform:uppercase
}
.products .row{
	margin-top:73px
}
.products_menu{
	margin-top:45px;
	text-align:center;
	list-style-type:none
}
.products_menu_item{
	display:inline-block;
	margin-right:70px;
	text-decoration:none
}
.products_menu_item_link{
	font-weight:600;
	font-size:24px;
	line-height:30px;
	color:#c2c2c2;
	text-decoration:none;
	-webkit-transition:.4s all;
	transition:.4s all
}
.products_menu_item_link:hover{
	color:#7ac751
}
.products_item{
	margin-bottom:45px
}
.products_item_stuff{
	margin-top:15px;
	font-weight:400;
	font-size:14px;
	letter-spacing:.008em;
	text-transform:uppercase;
	color:rgba(117,117,117,.71)
}
.products_item_name{
	margin-top:5px;
	font-weight:400;
	font-size:20px;
	letter-spacing:.005em;
	color:#555
}
.products_item_bottom{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:start;
	-webkit-box-align:end;
	-ms-flex-align:end;
	align-items:end
}
.products_item_bottom_price{
	margin-top:13px;
	font-weight:700;
	font-size:18px;
	letter-spacing:.005em;
	color:#7ac751;
	margin-right:100px
}
.products_item_bottom_price span{
	font-weight:600;
	font-size:18px;
	letter-spacing:.005em;
	-webkit-text-decoration-line:line-through;
	text-decoration-line:line-through;
	color:#ccc
}
.products_slider{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	width:60px;
	margin:0 auto
}
.products_img{
	position:relative;
	width:269px;
	height:288px
}
.products_bg_flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	position:absolute;
	bottom:15px;
	right:7px
}
.products_bg_flex_item{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	margin-top:9px;
	width:39px;
	height:39px;
	background-color:#fff;
	border-radius:100%
}
.products_bg_flex_item:hover{
	background-color:#7ac751;
	cursor:pointer
}
.products_pages{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:end;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	margin-top:50px
}
.products_pages_btn{
	position:relative;
	margin-right:143px;
	padding:12px 55px 12px 20px;
	font-weight:400;
	font-size:18px;
	color:#fff;
	background-color:#7ac751;
	border:none;
	outline:0;
	border-radius:3px
}
.products_pages_btn::after{
	content:"";
	position:absolute;
	right:29px;
	top:22px;
	display:inline-block;
	width:14px;
	height:12px;
	background:url(assets/icons/next.svg) center center/cover no-repeat
}
.products_pages_count{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.products_pages_count_text{
	margin-right:9px;
	font-weight:400;
	font-size:18px;
	letter-spacing:.008em;
	color:#757575
}
.products_pages_count_num{
	margin-right:19px;
	padding:0 18px;
	border:1px solid #ccc;
	font-weight:400;
	font-size:18px;
	letter-spacing:.008em;
	color:#757575;
	border-radius:3px
}
.products_pages_count_of{
	margin-right:23px;
	font-weight:400;
	font-size:18px;
	letter-spacing:.008em;
	color:#757575
}
.products_pages_count_next{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:end;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	background-color:#7ac751
}
.products_pages_count_next_left{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	width:29px;
	height:29px;
	color:#fff;
	font-weight:700
}
.products_pages_count_next_right{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	width:29px;
	height:29px;
	color:#fff;
	font-weight:700
}
.reviews{
	margin-top:120px;
	text-align:center
}
.reviews_title{
	font-weight:700;
	font-size:36px;
	line-height:45px;
	color:#555;
	text-align:center;
	text-transform:uppercase
}
.reviews_foto{
	margin-top:60px
}
.reviews_text{
	position:relative;
	margin-top:32px;
	font-weight:400;
	font-size:16px;
	line-height:150%;
	letter-spacing:.005em;
	color:#515151
}
.reviews_text_left{
	position:absolute;
	top:40px;
	left:-154px
}
.reviews_text_right{
	position:absolute;
	top:40px;
	right:-145px
}
.reviews_name{
	margin-top:32px;
	font-style:normal;
	font-weight:600;
	font-size:24px;
	letter-spacing:.005em;
	color:#555
}
.reviews_profession{
	margin-top:8px;
	font-weight:400;
	font-size:16px;
	letter-spacing:.005em;
	color:#515151
}
.articles{
	margin-top:160px
}
.articles_title{
	font-weight:700;
	font-size:36px;
	line-height:45px;
	color:#555;
	text-align:center;
	text-transform:uppercase
}
.articles .row{
	margin-top:55px
}
.articles_item{
	position:relative;
	min-height:455.28px;
	margin-bottom:22px;
	border-radius:9px
}
.articles_item_wrapp{
	position:absolute;
	top:250px;
	left:46px
}
.articles_item_wrapp_top{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:start;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
.articles_item_wrapp_top_label{
	position:relative;
	margin-right:20px;
	padding:5px 10px 5px 25px;
	font-weight:500;
	font-size:12px;
	letter-spacing:.008em;
	text-transform:uppercase;
	color:#7ac751;
	background-color:#fff;
	border-radius:5px
}
.articles_item_wrapp_top_label::before{
	content:"";
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	left:7px;
	width:14px;
	height:14px;
	background:url(assets/icons/label.png) center center/cover no-repeat
}
.articles_item_wrapp_top_date{
	font-weight:400;
	font-size:14px;
	letter-spacing:.008em;
	color:#fff
}
.articles_item_wrapp_title{
	margin-top:20px;
	font-weight:700;
	font-size:39px;
	letter-spacing:.005em;
	color:#fff
}
.articles_item_wrapp_readmore{
	font-weight:500;
	font-size:14px;
	letter-spacing:.008em;
	color:#fff;
	text-decoration:none;
	-webkit-transition:.3s all;
	transition:.3s all
}
.articles_item_wrapp_readmore:hover{
	color:#7ac751
}
footer{
	margin-top:100px
}
footer .footer_wrapp{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
footer .footer_wrapp_item_text{
	margin-top:15px;
	font-weight:400;
	font-size:16px;
	line-height:32px;
	color:#555
}
footer .footer_wrapp_item_social{
	margin-left:10px;
	margin-top:15px
}
footer .footer_wrapp_item_social_link{
	margin-right:20px
}
footer .footer_wrapp_item_title{
	font-weight:700;
	font-size:18px;
	letter-spacing:.01em;
	color:#555
}
footer .footer_wrapp_item_menu{
	padding:0;
	list-style-type:none
}
footer .footer_wrapp_item_menu_li{
	margin:17px 0 17px 0
}
footer .footer_wrapp_item_menu_li_link{
	font-weight:400;
	font-size:18px;
	letter-spacing:.01em;
	color:#555;
	text-decoration:none
}
footer .footer_wrapp_item_menu_li_link:hover{
	color:#7ac751
}
footer .footer_bottom{
	padding-top:25px;
	margin-top:65px;
	min-height:80px;
	border-top:1px solid #ccc
}
footer .footer_bottom_flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
footer .footer_bottom_privacy_menu{
	list-style-type:none
}
footer .footer_bottom_privacy_menu_li{
	display:inline-block;
	margin-right:50px
}
footer .footer_bottom_privacy_menu_li:last-child{
	margin-right:0
}
footer .footer_bottom_privacy_menu_li_link{
	font-weight:400;
	font-size:14px;
	color:#555;
	text-decoration:none;
	-webkit-transition:.3s all;
	transition:.3s all
}
footer .footer_bottom_privacy_menu_li_link:hover{
	color:#7ac751
}
@media (max-width:1400px){
	.offer_wrapp_big{
	margin-right:15px
}
.special_offer_wrapp_item{
	margin-right:15px
}

}
@media (max-width:1200px){
	header .fur_search form{
	margin-left:37px
}
header .fur_search_input{
	width:327px
}
.promo_baner{
	width:100%
}
.promo_baner_serve{
	left:25px
}
.promo_baner_img{
	left:330px
}
.promo_baner_list{
	display:none
}
.promo_wrapp nav .promo_menu_item_link{
    margin-right: 20px;
}
.offer_wrapp_big{
	margin-right:15px
}
.special_offer_wrapp_item{
	margin-right:15px
}

}
@media (max-width:991px){
	header .fur_search form{
	margin-left:0
}
header .fur_search_input{
	padding:7px 12px;
	width:270px;
	border:2px solid #7ac751
}
header .fur_search_btn{
	padding:6px 9px
}
.promo_baner{
	width:100%
}
.promo_baner_img{
	left:370px
}
.promo_wrapp{
	display:block
}
.promo_wrapp nav{
	display:block;
	text-align:center
}
.promo_wrapp nav .promo_menu{
	margin-left:30px
}
.promo_wrapp nav .promo_menu_item{
	margin-right:45px
}
.promo_wrapp nav .promo_menu_item_link{
    margin-right: 15px;
}
.promo_wrapp aside{
	display:none;
	width:100%
}
.promo_wrapp aside .promo_aside{
	display:block;
	padding:9px 10px
}
.promo_wrapp aside .promo_aside_menu{
	display:inline-block
}
.promo_wrapp aside .promo_aside_menu_item{
	display:inline-block
}
.promo_wrapp aside .promo_aside_menu_item_link:hover{
	font-size:18px
}
.promo_wrapp aside .promo_aside_sandwich{
	margin-left:15px
}
.promo_wrapp aside .promo_aside_sandwich .mb_sandwich{
	margin-bottom:3px
}
.promo_wrapp aside .promo_aside_title{
	font-size:11px
}
.feature_wrapp .feature_item_icon{
	width:45px;
	margin-right:7px
}
.feature_wrapp .feature_item_icon img{
	width:100%
}
.feature_wrapp .feature_item_descr_title{
	font-size:13px
}
.feature_wrapp .feature_item_descr_text{
	margin-top:-5px;
	font-size:10px;
	font-weight:700
}
.trending_item_bottom_price{
	margin-right:50px
}
.offer_wrapp{
	display:block
}
.offer_wrapp_big{
	margin:0 auto;
	width:100%
}
.offer_wrapp_small{
	display:block;
	margin-top:15px
}
.offer_wrapp_small_top{
	margin:0 auto;
	width:95%
}
.offer_wrapp_small_bottom{
	margin:0 auto;
	width:95%;
	margin-top:15px
}
.products_menu_item{
	margin-right:35px
}
.products_item_bottom_price{
	margin-right:50px
}
.products_item_bottom_link{
	font-size:20px
}
.special_offer_wrapp_item{
	margin-top:15px
}
.special_offer_wrapp_item_btn{
	margin-right:40px;
	padding:6px 14px;
	font-size:12px
}
.articles_item_wrapp_title{
	font-size:26px
}
footer .footer_wrapp_item_title{
	font-size:16px
}
footer .footer_wrapp_item_menu_li_link{
	font-size:16px
}

}
@media (max-width:768px){
	header .fur_search form{
	margin:0
}
header .fur_search_input{
	width:150px
}
.promo_wrapp{
	display:block
}
.promo_wrapp .promo_baner{
	width:100%;
	max-height:400px
}
.promo_wrapp .promo_baner_img{
	width:300px;
	left:255px
}
.promo_wrapp .promo_baner_img img{
	width:100%
}
.promo_wrapp .promo_baner_serve_title{
	margin-bottom:0;
	font-size:16px
}
.promo_wrapp .promo_baner_serve_header{
	margin-top:7px;
	font-size:25px;
	line-height:30px
}
.promo_wrapp .promo_baner_serve_header::after{
	top:48px;
	right:110px
}
.promo_wrapp .promo_baner_serve_subtitle{
	margin-top:25px;
	font-size:18px;
	line-height:0
}
.promo_wrapp .promo_baner_serve_btn{
	margin-top:25px
}
.feature_wrapp .feature_item_icon{
	width:35px;
	height:35px
}
.feature_wrapp .feature_item_descr_title{
	font-size:10px
}
.feature_wrapp .feature_item_descr_text{
	margin-top:-12px;
	font-size:8px
}
.trending{
	margin-top:50px
}
.trending .row{
	margin-top:50px
}
.trending_menu{
	margin-top:20px
}
.trending_menu_item{
	margin-right:30px
}
.trending_menu_item_link{
	font-size:18px
}
.special_offer{
	margin-top:50px
}
.special_offer_wrapp{
	display:block;
	margin-top:30px
}
.special_offer_wrapp_item{
	width:100%
}
.special_offer_wrapp_item.bg_l{
	margin-top:15px
}
.products{
	margin-top:30px
}
.products .row{
	margin-top:50px
}
.products_menu{
	margin-top:20px
}
.products_menu_item{
	margin-right:20px
}
.products_menu_item:last-child{
	margin-right:0
}
.products_menu_item_link{
	font-size:17px
}
.products_pages{
	margin-top:0
}
.products_pages_btn{
	font-size:13px;
	font-weight:700
}
.products_pages_btn::after{
	top:17px;
	left:90px
}
.reviews{
	margin-top:50px
}
.reviews_title{
	font-size:26px
}
.reviews_foto{
	margin-top:20px
}
.reviews_text_left{
	top:140px;
	left:90px
}
.reviews_text_right{
	top:140px;
	right:97px
}
.articles{
	margin-top:90px
}
footer .footer_wrapp_item img{
	margin-top:30px
}
footer .footer_wrapp_item_text{
	display:none
}
footer .footer_wrapp_item_title{
	font-size:14px
}
footer .footer_wrapp_item_menu_li_link{
	font-size:14px
}

}